.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 50px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 20px 170px; */
    /* gap: 60; */
}
.logo {
    width: 10%;
    height: auto;
}
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
.nav-connect {
    padding: 20px 10px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 20px;
}
.nav-connect:hover {
    transform: scale(1.05);
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.nav-menu li img{
    display: flex;
    margin: auto;
    /* z-index: -2; */
}
.anchor-link {
    text-decoration: none;
    color: white;
}
.nav-mob-close {
    display: none;
}
.nav-mob-open {
    display: none;
}
/* Deep */
@media (max-width: 768px) {
    .navbar {
        margin: 20px 50px;
    }
    .logo{
        width: 30%;
    }
    .nav-connect {
        display: none;
    }
    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
         top: 22px;
    }
    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    /* .nav-container {
        flex-direction: column;
        padding: 20px;
    }*/
    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    } 
    .nav-menu li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}
@media (max-width: 640px){
    .logo {
        width: 45%;   /* الشعار يصغر أكثر عشان ياخد مساحة أقل */
    }

    .nav-menu {
        width: 35%;  /* القائمة تاخد كل عرض الشاشة */
        /* right: -90%; مخفية خارج الشاشة */
    }

    .nav-menu li {
        font-size: 22px;   /* أصغر من التابلت */
        padding-left: 40px; /* مسافة أقل من الحافة */
    }

    .nav-mob-close {
        left: auto;    /* خلي زر الإغلاق ثابت */
        right: 0px;   /* على يمين الشاشة */
        top: 20px;
        width: 25px;   /* أصغر شوي */
    }

    .nav-mob-open {
        right: 20px;   /* زر القائمة يكون قريب من الحافة */
        top: 18px;
        width: 28px;
    }
    
}